<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<span id="map" style="visibility: hidden" th:text="${jsonData}"></span>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script type="text/javascript">
    const delay = ms => new Promise(res => setTimeout(res, ms));
    const maxDuration = [[${maxDuration}]];
    const strWindowFeatures = "location=yes,height=370,width=470,scrollbars=yes,status=yes";
    const jsonData = JSON.parse($('#map').html());
    const keys = Object.keys(jsonData);
    const w = window.innerWidth;
    const h = window.innerHeight;
    $(document).ready(async function () {
        for(let index =0; index < keys.length; index++){
            const key = keys[index];
            const duration = parseInt(jsonData[key]);
            let currentX = randomXPosition();
            let currentY = randomYPosition();
            let x = window.open(key, '', (strWindowFeatures + ",left=" + currentX + ",top=" + currentY));
            x.focus();
            const delayTime = maxDuration > 0 ? ( duration > maxDuration ? maxDuration : duration) : duration;
            setTimeout(() => {
                x.close();
            }, delayTime);
            await delay(delayTime);
            console.log("Waited 30s to play next video");
        }
        window.close();
    });

    function randomYPosition() {
        return Math.floor(Math.random() * ((h-10) - 10 + 1) + 10)
    }
    function randomXPosition() {
        return Math.floor(Math.random() * ((w -10) - 10 + 1) + 10)
    }
</script>
</html>