<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Video window</title>
</head>
<body>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script type="text/javascript">
    const delay = ms => new Promise(res => setTimeout(res, ms));
    const pageCount = parseInt([[${pageCount}]]);
    const pageSize = parseInt([[${pageSize}]]);
    $(document).ready(async function () {
        for (let index = 0; index < pageCount; index++) {
            let newTab = window.open('play?pageSize=' + pageSize + '&pageNo=' + index, '');
            newTab.focus();
            await delay(10000);
            console.log("Waited 10s to play next video");
        }
    });
</script>
</html>